._display--flex {
  display: flex;
}
._justify-content--space-between {
  justify-content: space-between;
}
._text-align--right {
  text-align: right;
}
._max-width--5rem {
  max-width: 5rem;
}
._position--relative {
  position: relative;
}
._margin-bottom--2rem {
  margin-bottom: 2rem;
}
._margin-top--5rem {
  margin-top: 5rem;
}
._font-size--12px {
  font-size: 12px;
}
._cursor--pointer {
  cursor: pointer;
}
._position--absolute {
  position: absolute;
}
._width--100percent {
  width: 100%;
}
._display--inline-block {
  display: inline-block;
}
._border--1px_solid_var_--gray-500_ {
  border: 1px solid var(--gray-500);
}
._border-radius--4px {
  border-radius: 4px;
}
._border-top-left-radius--0 {
  border-top-left-radius: 0;
}
._align-items--center {
  align-items: center;
}
._flex--1 {
  flex: 1;
}
._margin--0 {
  margin: 0;
}
._overflow-x--scroll {
  overflow-x: scroll;
}
._white-space--nowrap {
  white-space: nowrap;
}
._padding--10px {
  padding: 10px;
}
._margin-left--10px {
  margin-left: 10px;
}
._border-left--1px_solid_var_--gray-500_ {
  border-left: 1px solid var(--gray-500);
}
._border-top-right-radius--4px {
  border-top-right-radius: 4px;
}
._border-bottom-right-radius--4px {
  border-bottom-right-radius: 4px;
}
._background-color--var_--gray-150_ {
  background-color: var(--gray-150);
}
._color--var_--green-100_ {
  color: var(--green-100);
}
._pointer-events--none {
  pointer-events: none;
}
._margin-top--3rem {
  margin-top: 3rem;
}
._text-align--center {
  text-align: center;
}
._font-size--2rem {
  font-size: 2rem;
}
._margin-top--1rem {
  margin-top: 1rem;
}
._visibility--visible {
  visibility: visible;
}
._visibility--hidden {
  visibility: hidden;
}
._padding--1rem {
  padding: 1rem;
}
._width--16rem {
  width: 16rem;
}
._margin-left--1rem {
  margin-left: 1rem;
}
._width--fill-available {
  width: fill-available;
}
._word-wrap--break-word {
  word-wrap: break-word;
}
._font-size--14px {
  font-size: 14px;
}
._margin-left--auto {
  margin-left: auto;
}
._font-size--1rem {
  font-size: 1rem;
}
._flex-direction--column {
  flex-direction: column;
}
._justify-content--center {
  justify-content: center;
}
._margin-top--4rem {
  margin-top: 4rem;
}
._width--90percent {
  width: 90%;
}
._margin--0_auto {
  margin: 0 auto;
}
._margin-top--6rem {
  margin-top: 6rem;
}
._margin-bottom--1rem {
  margin-bottom: 1rem;
}
._margin-top--15rem {
  margin-top: 15rem;
}
