@font-face {
  font-family: "couturebold";
  src: url("@/fonts/couture-webfont.eot");
  src: url("@/fonts/couture-webfont.eot?#iefix") format("embedded-opentype"),
    url("@/fonts/couture-webfont.woff") format("woff"),
    url("@/fonts/couture-webfont.ttf") format("truetype"),
    url("@/fonts/couture-webfont.svg#couturebold") format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  --light-blue-100: #bcf3ff;
  --blue-100: #2d739e;
  --blue-200: #60acd8;
  --blue-300: #2f7fac;
  --blue-400: #215777;
  --blue-500: #154765;
  --gray-100: #f9f9f9;
  --gray-200: #d8d8d8;
  --gray-300: #bdbdbd;
  --gray-400: #aaa;
  --green-100: #28a745;
  --red-100: #dc3546;
  --red-200: #cc181e;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: none;
}
#root {
  font-family: "Helvetica", Helvetica, "Helvetica Neue", Arial, sans-serif;
}
a,
button {
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
}
button {
  border: none;
}

body,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
span,
input,
select,
textarea,
button,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

a,
p,
i,
label,
input,
select,
textarea,
button,
ol,
ul,
li {
  font-size: 15px;
  color: #aaa;
}
ul {
  list-style-position: inside;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.color-green {
  color: var(--green-100);
}
.reblog-icon {
  &:hover {
    opacity: 0.8;
  }
}
.link_option {
  padding-top: 1rem;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  &:first-of-type {
    margin-right: 4rem;
  }
}
.link_option_active {
  border-bottom: 2px solid var(--red-200);
  p {
    color: #333;
  }
}
.embeddedImage {
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.header {
  background: linear-gradient(
    to bottom,
    var(--blue-200) 0%,
    var(--blue-100) 98%
  );
  display: flex;
  justify-content: space-between;
  padding: 2rem 5%;
  align-items: center;
}
.header_logo_container {
  color: var(--light-blue-100);
  text-shadow: -1px 1px var(--blue-100);
  font-family: "Century Gothic", Century Gothic, "couturebold", Helvetica;
  cursor: pointer;
  &:hover {
    color: white;
  }
}
.logo-part-1 {
  font-size: 32px;
  font-family: "Century Gothic", Century Gothic, "couturebold", Helvetica;
}
.logo-part-2 {
  font-size: 32px;
  font-family: "Century Gothic", Century Gothic, "couturebold", Helvetica;
}

.header_buttons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header_button {
  background-color: var(--blue-400);
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 1em 2em;
  border-radius: 6px;
  &:hover {
    background-color: var(--blue-500);
  }
}

.footer {
  background: var(--gray-100);
  border: 1px solid var(--gray-200);
  padding: 6rem 4rem 5rem 4rem;
  margin-top: 5rem;
}
.copyright_container {
  flex-grow: 1;
  text-align: center;
  color: #aaa;
  align-self: center;
  padding-left: 5rem;
}

.upload_container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  margin-bottom: 5rem;
  margin-top: 1rem;

  .fileUploadINputDivContainer {
    min-width: 25%;
    aspect-ratio: 1/1;
  }
  .fileUploadInputDiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px dashed var(--gray-300);
    cursor: pointer;
    color: var(--gray-400);
    &:hover {
      background-color: var(--gray-100);
    }
  }
  .fileUploadInputDiv_draggedOverValid {
    border: 2px dashed var(--green-100);
    &:focus {
      background-color: #ddd;
    }
  }
  .fileUploadInputDiv_draggedOverInvalid {
    border: 2px dashed var(--red-100);
    &:focus {
      background-color: #ddd;
    }
  }
}
span.equationText {
  color: var(--gray-400);
  align-self: center;
}
audio {
  display: none;
}

.invalidFileLi {
  color: var(--red-100);
}
.validFileLi {
  color: var(--green-100);
}

.opacity-0-3 {
  opacity: 0.3;
}

.width-1-5rem {
  width: 1.5rem;
}
