.align-content-stretch {
  align-content: stretch;
}
.align-content-center {
  align-content: center;
}
.align-content-flex-start {
  align-content: flex-start;
}
.align-content-flex-end {
  align-content: flex-end;
}
.align-content-space-between {
  align-content: space-between;
}
.align-content-space-around {
  align-content: space-around;
}
.align-content-space-evenly {
  align-content: space-evenly;
}
.align-content-initial {
  align-content: initial;
}
.align-content-inherit {
  align-content: inherit;
}
.align-items-normal {
  align-items: normal;
}
.align-items-stretch {
  align-items: stretch;
}
.align-items-center {
  align-items: center;
}
.align-items-flex-start {
  align-items: flex-start;
}
.align-items-flex-end {
  align-items: flex-end;
}
.align-items-start {
  align-items: start;
}
.align-items-end {
  align-items: end;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-initial {
  align-items: initial;
}
.align-items-inherit {
  align-items: inherit;
}
.vertical-align-baseline {
  vertical-align: baseline;
}
.vertical-align-sub {
  vertical-align: sub;
}
.vertical-align-super {
  vertical-align: super;
}
.vertical-align-top {
  vertical-align: top;
}
.vertical-align-text-top {
  vertical-align: text-top;
}
.vertical-align-middle {
  vertical-align: middle;
}
.vertical-align-bottom {
  vertical-align: bottom;
}
.vertical-align-text-bottom {
  vertical-align: text-bottom;
}
.vertical-align-initial {
  vertical-align: initial;
}
.vertical-align-inherit {
  vertical-align: inherit;
}
.background-repeat-repeat {
  background-repeat: repeat;
}
.background-repeat-repeat-x {
  background-repeat: repeat-x;
}
.background-repeat-repeat-y {
  background-repeat: repeat-y;
}
.background-repeat-no-repeat {
  background-repeat: no-repeat;
}
.background-repeat-space {
  background-repeat: space;
}
.background-image-image-1 {
  background-image: var(--image-1);
}
.background-color-black {
  background-color: #000;
}
.background-color-white {
  background-color: #fff;
}
.background-color-blue-10 {
  background-color: var(--blue-10);
}
.background-color-blue-20 {
  background-color: var(--blue-20);
}
.background-color-blue-30 {
  background-color: var(--blue-30);
}
.background-color-blue-40 {
  background-color: var(--blue-40);
}
.background-color-blue-50 {
  background-color: var(--blue-50);
}
.background-color-blue-60 {
  background-color: var(--blue-60);
}
.background-color-gray-10 {
  background-color: var(--gray-10);
}
.background-color-gray-20 {
  background-color: var(--gray-20);
}
.background-color-gray-30 {
  background-color: var(--gray-30);
}
.background-color-gray-40 {
  background-color: var(--gray-40);
}
.background-color-gray-50 {
  background-color: var(--gray-50);
}
.background-color-gray-60 {
  background-color: var(--gray-60);
}
.background-repeat-repeat {
  background-repeat: repeat;
}
.background-repeat-repeat-x {
  background-repeat: repeat-x;
}
.background-repeat-repeat-y {
  background-repeat: repeat-y;
}
.background-repeat-no-repeat {
  background-repeat: no-repeat;
}
.background-repeat-space {
  background-repeat: space;
}
.background-image-image-1 {
  background-image: var(--image-1);
}
.border-collapse-separate {
  border-collapse: separate;
}
.border-collapse-collapse {
  border-collapse: collapse;
}
.border_color_none {
  border-color: none;
}
.border-color-black {
  border-color: #000;
}
.border-color-white {
  border-color: #fff;
}
.border-color-transparent {
  border-color: rgba(0, 0, 0, 0);
}
.border-color-gray-10 {
  border-color: var(--gray-10);
}
.border-color-gray-15 {
  border-color: var(--gray-15);
}
.border-color-gray-20 {
  border-color: var(--gray-20);
}
.border-color-gray-25 {
  border-color: var(--gray-25);
}
.border-color-gray-30 {
  border-color: var(--gray-30);
}
.border-color-gray-35 {
  border-color: var(--gray-35);
}
.border-color-gray-40 {
  border-color: var(--gray-40);
}
.border-color-gray-45 {
  border-color: var(--gray-45);
}
.border-color-gray-50 {
  border-color: var(--gray-50);
}
.border-color-gray-55 {
  border-color: var(--gray-55);
}
.border-color-gray-60 {
  border-color: var(--gray-60);
}
.border-radius-1px {
  border-radius: 1px;
}
.border-radius-2px {
  border-radius: 2px;
}
.border-radius-3px {
  border-radius: 3px;
}
.border-radius-4px {
  border-radius: 4px;
}
.border-radius-5px {
  border-radius: 5px;
}
.border-radius-6px {
  border-radius: 6px;
}
.border-radius-7px {
  border-radius: 7px;
}
.border-radius-8px {
  border-radius: 8px;
}
.border-radius-9px {
  border-radius: 9px;
}
.border-radius-10px {
  border-radius: 10px;
}
.border-radius-11px {
  border-radius: 11px;
}
.border-radius-12px {
  border-radius: 12px;
}
.border-radius-13px {
  border-radius: 13px;
}
.border-radius-14px {
  border-radius: 14px;
}
.border-radius-15px {
  border-radius: 15px;
}
.border-radius-16px {
  border-radius: 16px;
}
.border-radius-17px {
  border-radius: 17px;
}
.border-radius-18px {
  border-radius: 18px;
}
.border-radius-19px {
  border-radius: 19px;
}
.border-radius-20px {
  border-radius: 20px;
}
.border-spacing-1-2 {
  border-spacing: 1rem 2rem;
}
.border-style-solid {
  border-style: solid;
}
.border-style-dashed {
  border-style: dashed;
}
.border-style-dotted {
  border-style: dotted;
}
.border-style-double {
  border-style: double;
}
.border-style-groove {
  border-style: groove;
}
.border-style-ridge {
  border-style: ridge;
}
.border-style-inset {
  border-style: inset;
}
.border-style-outset {
  border-style: outset;
}
.border-style-none {
  border-style: none;
}
.border-style-hidden {
  border-style: hidden;
}
.border-style-initial {
  border-style: initial;
}
.border-style-inherit {
  border-style: inherit;
}
.border-1px {
  border: 1px;
}
.border-2px {
  border: 2px;
}
.border-3px {
  border: 3px;
}
.border-4px {
  border: 4px;
}
.border-5px {
  border: 5px;
}
.border-6px {
  border: 6px;
}
.border-7px {
  border: 7px;
}
.border-8px {
  border: 8px;
}
.border-9px {
  border: 9px;
}
.border-10px {
  border: 10px;
}
.color-black {
  color: #000;
}
.color-white {
  color: #fff;
}
.color-gray-10 {
  color: var(--gray-10);
}
.color-gray-15 {
  color: var(--gray-15);
}
.color-gray-20 {
  color: var(--gray-20);
}
.color-gray-25 {
  color: var(--gray-25);
}
.color-gray-30 {
  color: var(--gray-30);
}
.color-gray-40 {
  color: var(--gray-40);
}
.color-gray-50 {
  color: var(--gray-50);
}
.color-gray-60 {
  color: var(--gray-60);
}
.color-blue-10 {
  color: var(--blue-10);
}
.color-blue-15 {
  color: var(--blue-15);
}
.color-blue-20 {
  color: var(--blue-20);
}
.color-blue-25 {
  color: var(--blue-25);
}
.color-blue-30 {
  color: var(--blue-30);
}
.color-blue-40 {
  color: var(--blue-40);
}
.color-blue-50 {
  color: var(--blue-50);
}
.color-blue-60 {
  color: var(--blue-60);
}
.color-red-10 {
  color: var(--red-10);
}
.color-yellow-10 {
  color: var(--yellow-10);
}
.color-green-10 {
  color: var(--green-10);
}
.column-gap-1rem {
  column-gap: 1rem;
}
.column-gap-2rem {
  column-gap: 2rem;
}
.column-gap-3rem {
  column-gap: 3rem;
}
.column-gap-4rem {
  column-gap: 4rem;
}
.column-gap-5rem {
  column-gap: 5rem;
}
.column-gap-6rem {
  column-gap: 6rem;
}
.column-gap-7rem {
  column-gap: 7rem;
}
.column-gap-8rem {
  column-gap: 8rem;
}
.column-gap-9rem {
  column-gap: 9rem;
}
.column-gap-10rem {
  column-gap: 10rem;
}
.cursor-alias {
  cursor: alias;
}
.cursor-all-scroll {
  cursor: all-scroll;
}
.cursor-auto {
  cursor: auto;
}
.cursor-cell {
  cursor: cell;
}
.cursor-col-resize {
  cursor: col-resize;
}
.cursor-context-menu {
  cursor: context-menu;
}
.cursor-copy {
  cursor: copy;
}
.cursor-crosshair {
  cursor: crosshair;
}
.cursor-default {
  cursor: default;
}
.cursor-e-resize {
  cursor: e-resize;
}
.cursor-ew-resize {
  cursor: ew-resize;
}
.cursor-grab {
  cursor: grab;
}
.cursor-grabbing {
  cursor: grabbing;
}
.cursor-help {
  cursor: help;
}
.cursor-move {
  cursor: move;
}
.cursor-n-resize {
  cursor: n-resize;
}
.cursor-ne-resize {
  cursor: ne-resize;
}
.cursor-nesw-resize {
  cursor: nesw-resize;
}
.cursor-ns-resize {
  cursor: ns-resize;
}
.cursor-nw-resize {
  cursor: nw-resize;
}
.cursor-nwse-resize {
  cursor: nwse-resize;
}
.cursor-no-drop {
  cursor: no-drop;
}
.cursor-none {
  cursor: none;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-progress {
  cursor: progress;
}
.cursor-row-resize {
  cursor: row-resize;
}
.cursor-s-resize {
  cursor: s-resize;
}
.cursor-se-resize {
  cursor: se-resize;
}
.cursor-sw-resize {
  cursor: sw-resize;
}
.cursor-text {
  cursor: text;
}
.cursor-vertical-text {
  cursor: vertical-text;
}
.cursor-w-resize {
  cursor: w-resize;
}
.cursor-wait {
  cursor: wait;
}
.cursor-zoom-in {
  cursor: zoom-in;
}
.cursor-zoom-out {
  cursor: zoom-out;
}
.cursor-initial {
  cursor: initial;
}
.cursor-inherit {
  cursor: inherit;
}
.display-inline {
  display: inline;
}
.display-inline-block {
  display: inline-block;
}
.display-block {
  display: block;
}
.display-contents {
  display: contents;
}
.display-flex {
  display: flex;
}
.display-grid {
  display: grid;
}
.display-inline-flex {
  display: inline-flex;
}
.display-inline-grid {
  display: inline-grid;
}
.display-none {
  display: none;
}
.display-table {
  display: table;
}
.display-table-cell {
  display: table-cell;
}
.display-table-row {
  display: table-row;
}
.display-table-row-group {
  display: table-row-group;
}
.display-table-header-group {
  display: table-header-group;
}
.display-table-footer-group {
  display: table-footer-group;
}
.display-table-column {
  display: table-column;
}
.display-table-column-group {
  display: table-column-group;
}
.display-table-caption {
  display: table-caption;
}
.display-initial {
  display: initial;
}
.display-inherit {
  display: inherit;
}
.fill-black {
  fill: #000;
}
.fill-white {
  fill: #fff;
}
.fill-none {
  fill: none;
}
.fill-gray-10 {
  fill: var(--gray-10);
}
.fill-gray-20 {
  fill: var(--gray-20);
}
.fill-gray-30 {
  fill: var(--gray-30);
}
.fill-gray-40 {
  fill: var(--gray-40);
}
.fill-gray-50 {
  fill: var(--gray-50);
}
.fill-gray-60 {
  fill: var(--gray-60);
}
.fill-blue-10 {
  fill: var(--blue-10);
}
.fill-blue-20 {
  fill: var(--blue-20);
}
.fill-blue-30 {
  fill: var(--blue-30);
}
.fill-blue-40 {
  fill: var(--blue-40);
}
.fill-blue-50 {
  fill: var(--blue-50);
}
.fill-blue-60 {
  fill: var(--blue-60);
}
.fill-red-10 {
  fill: var(--red-10);
}
.fill-yellow-10 {
  fill: var(--yellow-10);
}
.fill-green-10 {
  fill: var(--green-10);
}
.filter-opacity-10 {
  filter: opacity(10%);
}
.filter-opacity-20 {
  filter: opacity(20%);
}
.filter-opacity-30 {
  filter: opacity(30%);
}
.filter-opacity-40 {
  filter: opacity(40%);
}
.filter-opacity-50 {
  filter: opacity(50%);
}
.filter-opacity-60 {
  filter: opacity(60%);
}
.filter-opacity-70 {
  filter: opacity(70%);
}
.filter-opacity-80 {
  filter: opacity(80%);
}
.filter-opacity-90 {
  filter: opacity(90%);
}
.filter-opacity-100 {
  filter: opacity(100%);
}
.flex-0 {
  flex: 0;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}
.flex-7 {
  flex: 7;
}
.flex-8 {
  flex: 8;
}
.flex-9 {
  flex: 9;
}
.flex-10 {
  flex: 10;
}
.flex-11 {
  flex: 11;
}
.flex-direction-column {
  flex-direction: column;
}
.flex-direction-row {
  flex-direction: row;
}
.flex-grow-0 {
  flex-grow: 0;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}
.flex-grow-3 {
  flex-grow: 3;
}
.flex-grow-4 {
  flex-grow: 4;
}
.flex-grow-5 {
  flex-grow: 5;
}
.flex-grow-6 {
  flex-grow: 6;
}
.flex-grow-7 {
  flex-grow: 7;
}
.flex-grow-8 {
  flex-grow: 8;
}
.flex-grow-9 {
  flex-grow: 9;
}
.flex-grow-10 {
  flex-grow: 10;
}
.flex-grow-11 {
  flex-grow: 11;
}
.flex-wrap-nowrap {
  flex-wrap: nowrap;
}
.flex-wrap-wrap {
  flex-wrap: wrap;
}
.flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-wrap-initial {
  flex-wrap: initial;
}
.flex-wrap-inherit {
  flex-wrap: inherit;
}
.font-size-5px {
  font-size: 5px;
}
.font-size-6px {
  font-size: 6px;
}
.font-size-7px {
  font-size: 7px;
}
.font-size-8px {
  font-size: 8px;
}
.font-size-9px {
  font-size: 9px;
}
.font-size-10px {
  font-size: 10px;
}
.font-size-11px {
  font-size: 11px;
}
.font-size-12px {
  font-size: 12px;
}
.font-size-13px {
  font-size: 13px;
}
.font-size-14px {
  font-size: 14px;
}
.font-size-15px {
  font-size: 15px;
}
.font-size-16px {
  font-size: 16px;
}
.font-size-17px {
  font-size: 17px;
}
.font-size-18px {
  font-size: 18px;
}
.font-size-19px {
  font-size: 19px;
}
.font-size-20px {
  font-size: 20px;
}
.font-size-21px {
  font-size: 21px;
}
.font-size-22px {
  font-size: 22px;
}
.font-size-23px {
  font-size: 23px;
}
.font-size-24px {
  font-size: 24px;
}
.font-size-25px {
  font-size: 25px;
}
.font-size-26px {
  font-size: 26px;
}
.font-size-27px {
  font-size: 27px;
}
.font-size-28px {
  font-size: 28px;
}
.font-size-29px {
  font-size: 29px;
}
.font-size-30px {
  font-size: 30px;
}
.font-size-5pt {
  font-size: 5pt;
}
.font-size-6pt {
  font-size: 6pt;
}
.font-size-7pt {
  font-size: 7pt;
}
.font-size-8pt {
  font-size: 8pt;
}
.font-size-9pt {
  font-size: 9pt;
}
.font-size-10pt {
  font-size: 10pt;
}
.font-size-11pt {
  font-size: 11pt;
}
.font-size-12pt {
  font-size: 12pt;
}
.font-size-13pt {
  font-size: 13pt;
}
.font-size-14pt {
  font-size: 14pt;
}
.font-size-15pt {
  font-size: 15pt;
}
.font-size-16pt {
  font-size: 16pt;
}
.font-size-17pt {
  font-size: 17pt;
}
.font-size-18pt {
  font-size: 18pt;
}
.font-size-19pt {
  font-size: 19pt;
}
.font-size-20pt {
  font-size: 20pt;
}
.font-size-21pt {
  font-size: 21pt;
}
.font-size-22pt {
  font-size: 22pt;
}
.font-size-23pt {
  font-size: 23pt;
}
.font-size-24pt {
  font-size: 24pt;
}
.font-size-25pt {
  font-size: 25pt;
}
.font-size-26pt {
  font-size: 26pt;
}
.font-size-27pt {
  font-size: 27pt;
}
.font-size-28pt {
  font-size: 28pt;
}
.font-size-29pt {
  font-size: 29pt;
}
.font-size-30pt {
  font-size: 30pt;
}
.font-size-1rem {
  font-size: 1rem;
}
.font-size-2rem {
  font-size: 2rem;
}
.font-size-3rem {
  font-size: 3rem;
}
.font-size-4rem {
  font-size: 4rem;
}
.font-size-5rem {
  font-size: 5rem;
}
.font-size-6rem {
  font-size: 6rem;
}
.font-size-7rem {
  font-size: 7rem;
}
.font-size-8rem {
  font-size: 8rem;
}
.font-size-9rem {
  font-size: 9rem;
}
.font-size-10rem {
  font-size: 10rem;
}
.font-weight-100 {
  font-weight: 100;
}
.font-weight-200 {
  font-weight: 200;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
.font-weight-900 {
  font-weight: 900;
}
.font-weight-bold {
  font-weight: bold;
}
.height-0-25rem {
  height: 0.25rem;
}
.height-1rem {
  height: 1rem;
}
.height-1-5rem {
  height: 1.5rem;
}
.height-1-75rem {
  height: 1.75rem;
}
.height-2rem {
  height: 2rem;
}
.height-3rem {
  height: 3rem;
}
.height-4rem {
  height: 4rem;
}
.height-5rem {
  height: 5rem;
}
.height-6rem {
  height: 6rem;
}
.height-7rem {
  height: 7rem;
}
.height-8rem {
  height: 8rem;
}
.height-9rem {
  height: 9rem;
}
.height-10rem {
  height: 10rem;
}
.height-100-percent {
  height: 100%;
}
.height-95-percent {
  height: 95%;
}
.height-90-percent {
  height: 90%;
}
.height-85-percent {
  height: 85%;
}
.height-80-percent {
  height: 80%;
}
.height-75-percent {
  height: 75%;
}
.height-70-percent {
  height: 70%;
}
.height-65-percent {
  height: 65%;
}
.height-60-percent {
  height: 60%;
}
.height-55-percent {
  height: 55%;
}
.height-50-percent {
  height: 50%;
}
.height-45-percent {
  height: 45%;
}
.height-40-percent {
  height: 40%;
}
.height-35-percent {
  height: 35%;
}
.height-30-percent {
  height: 30%;
}
.height-25-percent {
  height: 25%;
}
.height-20-percent {
  height: 20%;
}
.height-15-percent {
  height: 15%;
}
.height-10-percent {
  height: 10%;
}
.height-5-percent {
  height: 5%;
}
.height-fit-content {
  height: fit-content;
}
.height-100px {
  height: 100px;
}
.hover-brightness-10:hover {
  filter: brightness(10%);
}
.hover-brightness-20:hover {
  filter: brightness(20%);
}
.hover-brightness-30:hover {
  filter: brightness(30%);
}
.hover-brightness-40:hover {
  filter: brightness(40%);
}
.hover-brightness-50:hover {
  filter: brightness(50%);
}
.hover-brightness-60:hover {
  filter: brightness(60%);
}
.hover-brightness-70:hover {
  filter: brightness(70%);
}
.hover-brightness-80:hover {
  filter: brightness(80%);
}
.hover-brightness-90:hover {
  filter: brightness(90%);
}
.justify-content-flex-start {
  justify-content: flex-start;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}
.justify-content-initial {
  justify-content: initial;
}
.justify-content-inherit {
  justify-content: inherit;
}
.line-height-1 {
  line-height: 1;
}
.line-height-1-1 {
  line-height: 1.1;
}
.line-height-1-15 {
  line-height: 1.15;
}
.line-height-1-2 {
  line-height: 1.2;
}
.line-height-1-25 {
  line-height: 1.25;
}
.line-height-1-3 {
  line-height: 1.3;
}
.line-height-1-35 {
  line-height: 1.35;
}
.line-height-1-4 {
  line-height: 1.4;
}
.line-height-1-45 {
  line-height: 1.45;
}
.line-height-1-5 {
  line-height: 1.5;
}
.line-height-1-55 {
  line-height: 1.55;
}
.line-height-1-6 {
  line-height: 1.6;
}
.line-height-1-65 {
  line-height: 1.65;
}
.line-height-1-7 {
  line-height: 1.7;
}
.line-height-1-75 {
  line-height: 1.75;
}
.line-height-1-8 {
  line-height: 1.8;
}
.line-height-1-85 {
  line-height: 1.85;
}
.line-height-1-9 {
  line-height: 1.9;
}
.line-height-1-95 {
  line-height: 1.95;
}
.line-height-2 {
  line-height: 2;
}
.list-style-position-inside {
  list-style-position: inside;
}
.list-style-position-outside {
  list-style-position: outside;
}
.list-style-auto {
  list-style: auto;
}
.list-style-disc {
  list-style: disc;
}
.margin-bottom-0 {
  margin-top: 0;
}
.margin-bottom-0-5rem {
  margin-bottom: 0.5rem;
}
.margin-bottom-0-75rem {
  margin-bottom: 0.75rem;
}
.margin-bottom-1rem {
  margin-bottom: 1rem;
}
.margin-bottom-2rem {
  margin-bottom: 2rem;
}
.margin-bottom-3rem {
  margin-bottom: 3rem;
}
.margin-bottom-4rem {
  margin-bottom: 4rem;
}
.margin-bottom-5rem {
  margin-bottom: 5rem;
}
.margin-bottom-6rem {
  margin-bottom: 6rem;
}
.margin-bottom-7rem {
  margin-bottom: 7rem;
}
.margin-bottom-8rem {
  margin-bottom: 8rem;
}
.margin-bottom-9rem {
  margin-bottom: 9rem;
}
.margin-bottom-10rem {
  margin-bottom: 10rem;
}
.margin-bottom-11rem {
  margin-bottom: 11rem;
}
.margin-bottom-12rem {
  margin-bottom: 12rem;
}
.margin-bottom-13rem {
  margin-bottom: 13rem;
}
.margin-bottom-14rem {
  margin-bottom: 14rem;
}
.margin-bottom-15rem {
  margin-bottom: 15rem;
}
.margin-bottom-auto {
  margin-bottom: auto;
}
.margin-left-1rem {
  margin-left: 1rem;
}
.margin-left-2rem {
  margin-left: 2rem;
}
.margin-left-3rem {
  margin-left: 3rem;
}
.margin-left-4rem {
  margin-left: 4rem;
}
.margin-left-5rem {
  margin-left: 5rem;
}
.margin-left-6rem {
  margin-left: 6rem;
}
.margin-left-7rem {
  margin-left: 7rem;
}
.margin-left-8rem {
  margin-left: 8rem;
}
.margin-left-9rem {
  margin-left: 9rem;
}
.margin-left-10rem {
  margin-left: 10rem;
}
.margin-left-11rem {
  margin-left: 11rem;
}
.margin-left-12rem {
  margin-left: 12rem;
}
.margin-left-13rem {
  margin-left: 13rem;
}
.margin-left-14rem {
  margin-left: 14rem;
}
.margin-left-15rem {
  margin-left: 15rem;
}
.margin-left-auto {
  margin-left: auto;
}
.margin-right-0rem {
  margin-right: 0;
}
.margin-right-1rem {
  margin-right: 1rem;
}
.margin-right-2rem {
  margin-right: 2rem;
}
.margin-right-3rem {
  margin-right: 3rem;
}
.margin-right-4rem {
  margin-right: 4rem;
}
.margin-right-5rem {
  margin-right: 5rem;
}
.margin-right-6rem {
  margin-right: 6rem;
}
.margin-right-7rem {
  margin-right: 7rem;
}
.margin-right-8rem {
  margin-right: 8rem;
}
.margin-right-9rem {
  margin-right: 9rem;
}
.margin-right-10rem {
  margin-right: 10rem;
}
.margin-right-11rem {
  margin-right: 11rem;
}
.margin-right-12rem {
  margin-right: 12rem;
}
.margin-right-13rem {
  margin-right: 13rem;
}
.margin-right-14rem {
  margin-right: 14rem;
}
.margin-right-15rem {
  margin-right: 15rem;
}
.margin-right-auto {
  margin-right: auto;
}
.margin-top-0 {
  margin-top: 0;
}
.margin-top-1rem {
  margin-top: 1rem;
}
.margin-top-2rem {
  margin-top: 2rem;
}
.margin-top-3rem {
  margin-top: 3rem;
}
.margin-top-4rem {
  margin-top: 4rem;
}
.margin-top-5rem {
  margin-top: 5rem;
}
.margin-top-6rem {
  margin-top: 6rem;
}
.margin-top-7rem {
  margin-top: 7rem;
}
.margin-top-8rem {
  margin-top: 8rem;
}
.margin-top-9rem {
  margin-top: 9rem;
}
.margin-top-10rem {
  margin-top: 10rem;
}
.margin-top-11rem {
  margin-top: 11rem;
}
.margin-top-12rem {
  margin-top: 12rem;
}
.margin-top-13rem {
  margin-top: 13rem;
}
.margin-top-14rem {
  margin-top: 14rem;
}
.margin-top-15rem {
  margin-top: 15rem;
}
.margin-top-auto {
  margin-top: auto;
}
.margin-top-1px {
  margin-top: 1px;
}
.margin-top-2px {
  margin-top: 2px;
}
.margin-top-3px {
  margin-top: 3px;
}
.margin-top-4px {
  margin-top: 4px;
}
.margin-top-5px {
  margin-top: 5px;
}
.margin-top-6px {
  margin-top: 6px;
}
.margin-top-7px {
  margin-top: 7px;
}
.margin-top-8px {
  margin-top: 8px;
}
.margin-top-9px {
  margin-top: 9px;
}
.margin-top-10px {
  margin-top: 10px;
}
.margin-0 {
  margin: 0;
}
.margin-1rem {
  margin: 1rem;
}
.margin-2rem {
  margin: 2rem;
}
.margin-3rem {
  margin: 3rem;
}
.margin-4rem {
  margin: 4rem;
}
.margin-5rem {
  margin: 5rem;
}
.margin-6rem {
  margin: 6rem;
}
.margin-7rem {
  margin: 7rem;
}
.margin-8rem {
  margin: 8rem;
}
.margin-9rem {
  margin: 9rem;
}
.margin-10rem {
  margin: 10rem;
}
.margin-11rem {
  margin: 11rem;
}
.margin-12rem {
  margin: 12rem;
}
.margin-13rem {
  margin: 13rem;
}
.margin-14rem {
  margin: 14rem;
}
.margin-15rem {
  margin: 15rem;
}
.margin-auto {
  margin: auto;
}
.margin-0-auto {
  margin: 0 auto;
}
.max-height-0 {
  max-height: 0;
}
.max-height-1rem {
  max-height: 1rem;
}
.max-height-2rem {
  max-height: 2rem;
}
.max-height-3rem {
  max-height: 3rem;
}
.max-height-4rem {
  max-height: 4rem;
}
.max-height-5rem {
  max-height: 5rem;
}
.max-height-6rem {
  max-height: 6rem;
}
.max-height-7rem {
  max-height: 7rem;
}
.max-height-8rem {
  max-height: 8rem;
}
.max-height-9rem {
  max-height: 9rem;
}
.max-height-10rem {
  max-height: 10rem;
}
.max-height-100-percent {
  max-height: 100%;
}
.max-height-95-percent {
  max-height: 95%;
}
.max-height-90-percent {
  max-height: 90%;
}
.max-height-85-percent {
  max-height: 85%;
}
.max-height-80-percent {
  max-height: 80%;
}
.max-height-75-percent {
  max-height: 75%;
}
.max-height-70-percent {
  max-height: 70%;
}
.max-height-65-percent {
  max-height: 65%;
}
.max-height-60-percent {
  max-height: 60%;
}
.max-height-55-percent {
  max-height: 55%;
}
.max-height-50-percent {
  max-height: 50%;
}
.max-height-45-percent {
  max-height: 45%;
}
.max-height-40-percent {
  max-height: 40%;
}
.max-height-35-percent {
  max-height: 35%;
}
.max-height-30-percent {
  max-height: 30%;
}
.max-height-25-percent {
  max-height: 25%;
}
.max-height-20-percent {
  max-height: 20%;
}
.max-height-15-percent {
  max-height: 15%;
}
.max-height-10-percent {
  max-height: 10%;
}
.max-height-5-percent {
  max-height: 5%;
}
.max-width-1rem {
  width: 1rem;
}
.max-width-2rem {
  width: 2rem;
}
.max-width-3rem {
  width: 3rem;
}
.max-width-4rem {
  width: 4rem;
}
.max-width-5rem {
  width: 5rem;
}
.max-width-6rem {
  width: 6rem;
}
.max-width-7rem {
  width: 7rem;
}
.max-width-8rem {
  width: 8rem;
}
.max-width-9rem {
  width: 9rem;
}
.max-width-10rem {
  width: 10rem;
}
.max-width-100-percent {
  width: 100%;
}
.max-width-95-percent {
  width: 95%;
}
.max-width-90-percent {
  width: 90%;
}
.max-width-85-percent {
  width: 85%;
}
.max-width-80-percent {
  width: 80%;
}
.max-width-75-percent {
  width: 75%;
}
.max-width-70-percent {
  width: 70%;
}
.max-width-65-percent {
  width: 65%;
}
.max-width-60-percent {
  width: 60%;
}
.max-width-55-percent {
  width: 55%;
}
.max-width-50-percent {
  width: 50%;
}
.max-width-45-percent {
  width: 45%;
}
.max-width-40-percent {
  width: 40%;
}
.max-width-35-percent {
  width: 35%;
}
.max-width-30-percent {
  width: 30%;
}
.max-width-25-percent {
  width: 25%;
}
.max-width-20-percent {
  width: 20%;
}
.max-width-15-percent {
  width: 15%;
}
.max-width-10-percent {
  width: 10%;
}
.max-width-5-percent {
  width: 5%;
}
.opacity-0-1 {
  opacity: 0.1;
}
.opacity-0-2 {
  opacity: 0.2;
}
.opacity-0-3 {
  opacity: 0.3;
}
.opacity-0-4 {
  opacity: 0.4;
}
.opacity-0-5 {
  opacity: 0.5;
}
.opacity-0-6 {
  opacity: 0.6;
}
.opacity-0-7 {
  opacity: 0.7;
}
.opacity-0-8 {
  opacity: 0.8;
}
.opacity-0-9 {
  opacity: 0.9;
}
.opacity-1 {
  opacity: 1;
}
.overflow-visible {
  overflow: visible;
}
.padding-bottom-1px {
  padding-bottom: 1px;
}
.padding-bottom-2px {
  padding-bottom: 2px;
}
.padding-bottom-3px {
  padding-bottom: 3px;
}
.padding-bottom-4px {
  padding-bottom: 4px;
}
.padding-bottom-5px {
  padding-bottom: 5px;
}
.padding-bottom-6px {
  padding-bottom: 6px;
}
.padding-bottom-7px {
  padding-bottom: 7px;
}
.padding-bottom-8px {
  padding-bottom: 8px;
}
.padding-bottom-9px {
  padding-bottom: 9px;
}
.padding-bottom-10px {
  padding-bottom: 10px;
}
.padding-bottom-1rem {
  padding-bottom: 1rem;
}
.padding-bottom-2rem {
  padding-bottom: 2rem;
}
.padding-bottom-3rem {
  padding-bottom: 3rem;
}
.padding-bottom-4rem {
  padding-bottom: 4rem;
}
.padding-bottom-5rem {
  padding-bottom: 5rem;
}
.padding-bottom-6rem {
  padding-bottom: 6rem;
}
.padding-bottom-7rem {
  padding-bottom: 7rem;
}
.padding-bottom-8rem {
  padding-bottom: 8rem;
}
.padding-bottom-9rem {
  padding-bottom: 9rem;
}
.padding-bottom-10rem {
  padding-bottom: 10rem;
}
.padding-left-1rem {
  padding-left: 1rem;
}
.padding-left-2rem {
  padding-left: 2rem;
}
.padding-left-3rem {
  padding-left: 3rem;
}
.padding-left-4rem {
  padding-left: 4rem;
}
.padding-left-5rem {
  padding-left: 5rem;
}
.padding-left-6rem {
  padding-left: 6rem;
}
.padding-left-7rem {
  padding-left: 7rem;
}
.padding-left-8rem {
  padding-left: 8rem;
}
.padding-left-9rem {
  padding-left: 9rem;
}
.padding-left-10rem {
  padding-left: 10rem;
}
.padding-right-1rem {
  padding-right: 1rem;
}
.padding-right-2rem {
  padding-right: 2rem;
}
.padding-right-3rem {
  padding-right: 3rem;
}
.padding-right-4rem {
  padding-right: 4rem;
}
.padding-right-5rem {
  padding-right: 5rem;
}
.padding-right-6rem {
  padding-right: 6rem;
}
.padding-right-7rem {
  padding-right: 7rem;
}
.padding-right-8rem {
  padding-right: 8rem;
}
.padding-right-9rem {
  padding-right: 9rem;
}
.padding-right-10rem {
  padding-right: 10rem;
}
.padding-top-1px {
  padding-top: 1px;
}
.padding-top-2px {
  padding-top: 2px;
}
.padding-top-3px {
  padding-top: 3px;
}
.padding-top-4px {
  padding-top: 4px;
}
.padding-top-5px {
  padding-top: 5px;
}
.padding-top-6px {
  padding-top: 6px;
}
.padding-top-7px {
  padding-top: 7px;
}
.padding-top-8px {
  padding-top: 8px;
}
.padding-top-9px {
  padding-top: 9px;
}
.padding-top-10px {
  padding-top: 10px;
}
.padding-top-1rem {
  padding-top: 1rem;
}
.padding-top-2rem {
  padding-top: 2rem;
}
.padding-top-3rem {
  padding-top: 3rem;
}
.padding-top-4rem {
  padding-top: 4rem;
}
.padding-top-5rem {
  padding-top: 5rem;
}
.padding-top-6rem {
  padding-top: 6rem;
}
.padding-top-7rem {
  padding-top: 7rem;
}
.padding-top-8rem {
  padding-top: 8rem;
}
.padding-top-9rem {
  padding-top: 9rem;
}
.padding-top-10rem {
  padding-top: 10rem;
}
.padding-1px {
  padding: 1px;
}
.padding-2px {
  padding: 2px;
}
.padding-3px {
  padding: 3px;
}
.padding-4px {
  padding: 4px;
}
.padding-5px {
  padding: 5px;
}
.padding-6px {
  padding: 6px;
}
.padding-7px {
  padding: 7px;
}
.padding-8px {
  padding: 8px;
}
.padding-9px {
  padding: 9px;
}
.padding-10px {
  padding: 10px;
}
.padding-50px {
  padding: 50px;
}
.padding-1rem {
  padding: 1rem;
}
.padding-2rem {
  padding: 2rem;
}
.padding-3rem {
  padding: 3rem;
}
.padding-4rem {
  padding: 4rem;
}
.padding-5rem {
  padding: 5rem;
}
.padding-6rem {
  padding: 6rem;
}
.padding-7rem {
  padding: 7rem;
}
.padding-8rem {
  padding: 8rem;
}
.padding-9rem {
  padding: 9rem;
}
.padding-10rem {
  padding: 10rem;
}
.pointer-events-auto {
  pointer-events: auto;
}
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-initial {
  pointer-events: initial;
}
.pointer-events-inherit {
  pointer-events: inherit;
}
.position-static {
  position: static;
}
.position-absolute {
  position: absolute;
}
.position-fixed {
  position: fixed;
}
.position-relative {
  position: relative;
}
.position-sticky {
  position: sticky;
}
.position-initial {
  position: initial;
}
.position-inherit {
  position: inherit;
}
.row-gap-1rem {
  row-gap: 1rem;
}
.row-gap-2rem {
  row-gap: 2rem;
}
.row-gap-3rem {
  row-gap: 3rem;
}
.row-gap-4rem {
  row-gap: 4rem;
}
.row-gap-5rem {
  row-gap: 5rem;
}
.row-gap-6rem {
  row-gap: 6rem;
}
.row-gap-7rem {
  row-gap: 7rem;
}
.row-gap-8rem {
  row-gap: 8rem;
}
.row-gap-9rem {
  row-gap: 9rem;
}
.row-gap-10rem {
  row-gap: 10rem;
}
.stroke-black {
  stroke: #000;
}
.stroke-white {
  stroke: #fff;
}
.stroke-none {
  stroke: none;
}
.stroke-gray-10 {
  stroke: var(--gray-10);
}
.stroke-gray-15 {
  stroke: var(--gray-15);
}
.stroke-gray-20 {
  stroke: var(--gray-20);
}
.stroke-gray-25 {
  stroke: var(--gray-25);
}
.stroke-gray-30 {
  stroke: var(--gray-30);
}
.stroke-gray-35 {
  stroke: var(--gray-35);
}
.stroke-gray-40 {
  stroke: var(--gray-40);
}
.stroke-gray-45 {
  stroke: var(--gray-45);
}
.stroke-gray-50 {
  stroke: var(--gray-50);
}
.stroke-gray-60 {
  stroke: var(--gray-60);
}
.stroke-blue-10 {
  stroke: var(--blue-10);
}
.stroke-blue-20 {
  stroke: var(--blue-20);
}
.stroke-blue-30 {
  stroke: var(--blue-30);
}
.stroke-blue-40 {
  stroke: var(--blue-40);
}
.stroke-blue-50 {
  stroke: var(--blue-50);
}
.stroke-blue-60 {
  stroke: var(--blue-60);
}
.stroke-red-10 {
  stroke: var(--red-10);
}
.stroke-yellow-10 {
  stroke: var(--yellow-10);
}
.stroke-green-10 {
  stroke: var(--green-10);
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.text-align-justify {
  text-align: justify;
}
.text-align-initial {
  text-align: initial;
}
.text-align-inherit {
  text-align: inherit;
}
.text-decoration-underline {
  text-decoration: underline;
}
.text-wrap {
  text-wrap: wrap;
}
.text-wrap-nowrap {
  text-wrap: nowrap;
}
.text-wrap-balance {
  text-wrap: balance;
}
.text-wrap-pretty {
  text-wrap: pretty;
}
.text-wrap-stable {
  text-wrap: stable;
}
.top-100px {
  top: 100px;
}
.vertical-align-baseline {
  vertical-align: baseline;
}
.vertical-align-sub {
  vertical-align: sub;
}
.vertical-align-super {
  vertical-align: super;
}
.vertical-align-top {
  vertical-align: top;
}
.vertical-align-text-top {
  vertical-align: text-top;
}
.vertical-align-middle {
  vertical-align: middle;
}
.vertical-align-bottom {
  vertical-align: bottom;
}
.vertical-align-text-bottom {
  vertical-align: text-bottom;
}
.vertical-align-initial {
  vertical-align: initial;
}
.vertical-align-inherit {
  vertical-align: inherit;
}
.visibility-hidden {
  visibility: hidden;
}
.visibility-visible {
  visibility: visible;
}
.visibility-collapse {
  visibility: collapse;
}
.visibility-inherit {
  visibility: inherit;
}
.visibility-initial {
  visibility: initial;
}
.white-space-nowrap {
  white-space: nowrap;
}
.width-1rem {
  width: 1rem;
}
.width-1-5rem {
  width: 1.5rem;
}
.width-2rem {
  width: 2rem;
}
.width-3rem {
  width: 3rem;
}
.width-4rem {
  width: 4rem;
}
.width-5rem {
  width: 5rem;
}
.width-6rem {
  width: 6rem;
}
.width-7rem {
  width: 7rem;
}
.width-8rem {
  width: 8rem;
}
.width-9rem {
  width: 9rem;
}
.width-10rem {
  width: 10rem;
}
.width-16rem {
  width: 16rem;
}
.width-100-percent {
  width: 100%;
}
.width-95-percent {
  width: 95%;
}
.width-90-percent {
  width: 90%;
}
.width-85-percent {
  width: 85%;
}
.width-80-percent {
  width: 80%;
}
.width-75-percent {
  width: 75%;
}
.width-70-percent {
  width: 70%;
}
.width-65-percent {
  width: 65%;
}
.width-60-percent {
  width: 60%;
}
.width-55-percent {
  width: 55%;
}
.width-50-percent {
  width: 50%;
}
.width-45-percent {
  width: 45%;
}
.width-40-percent {
  width: 40%;
}
.width-35-percent {
  width: 35%;
}
.width-30-percent {
  width: 30%;
}
.width-25-percent {
  width: 25%;
}
.width-20-percent {
  width: 20%;
}
.width-15-percent {
  width: 15%;
}
.width-10-percent {
  width: 10%;
}
.width-5-percent {
  width: 5%;
}
.width-20-percent-minus-1rem {
  width: calc(20% - 1rem);
}
.width-80-percent-minus-1rem {
  width: calc(80% - 1rem);
}
.width-fill-available {
  width: fill-available;
  width: -webkit-fill-available;
}
.width-100px {
  width: 100px;
}
.word-wrap-normal {
  word-wrap: normal;
}
.word-wrap-break-word {
  word-wrap: break-word;
}
.word-wrap-initial {
  word-wrap: initial;
}
.word-wrap-inherit {
  word-wrap: inherit;
} /*# sourceMappingURL=main.css.map */
