.upload_container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  margin-bottom: 5rem;
  margin-top: 1rem;
  //margin-left: 5rem;
  //margin-right: 5rem;

  .fileUploadINputDivContainer {
    min-width: 25%;
    aspect-ratio: 1/1;
  }
  .fileUploadInputDiv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    //width: 16rem;
    //height: 16rem;
    width: 100%;
    height: 100%;
    border: 1px dashed var(--gray-300);
    cursor: pointer;
    color: var(--gray-400);
    &:hover {
      background-color: var(--gray-100);
    }
  }
  .fileUploadInputDiv_draggedOverValid {
    border: 2px dashed var(--green-100);
    &:focus {
      background-color: #ddd;
    }
  }
  .fileUploadInputDiv_draggedOverInvalid {
    border: 2px dashed var(--red-100);
    &:focus {
      background-color: #ddd;
    }
  }
}

span.equationText {
  color: var(--gray-400);
  align-self: center;
}
audio {
  display: none;
}

.invalidFileLi {
  color: var(--red-100);
}
.validFileLi {
  color: var(--green-100);
}

.gifhov_page_container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.gifhov_metadata_container {
  display: flex;
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}