.upload_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 5rem;

  .fileUploadInputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: 16rem;
    border: 1px dashed var(--gray-300);
    cursor: pointer;
    &:hover {
      background-color: var(--gray-100);
      outline: 0;
    }
    p {
      font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
      color: var(--gray-400)
    }
  }
  .fileUploadInputDiv_draggedOverValid {
    border: 1px solid var(--green-100);
    background-color: #ddd;
  }
  .fileUploadInputDiv_draggedOverInvalid {
    border: 1px solid var(--red-100);
    background-color: #ddd;
  }
}

span.equationText {
  color: var(--gray-400)
}
audio {
  display: none;
}


